/*general part*/
body{
    /*background-color: #6F6B6A;*/
    background: #36393f;
    color: white;
    text-align: center;
}
header{
    padding: 15px;
}

parent-main{
    display:flex;
    
}


/*nav bar*/
nav{
    font-size: 1.5vw;
    background-color: #23272a;
    width: 8vw;
    padding-right: 1vw;
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*nav > ul > li{}*/
a{
    display: block;
    padding: 8px;
    /*background-color: #5F5C5B;*/
    color:white;
}
a:link{text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { 
    text-decoration: none;
    color: #7289da;
    /*font-size: 107%;*/
}
a:active { text-decoration: none; }

/*Index*/
#pageAccueil{
    /*background-color: black;*/
    background-color: #2c2f33;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    height: max-content;
}
#pageAccueil p{
    text-align: justify;
    margin: 15px;
    
}

/*Compétence*/
.block {
    width: 32vw;
    height: max-content;
    margin: 10px;
    background-color: #2c2f33;
    word-wrap: break-word;
}
.block>p:last-child{
    margin-bottom: 50px;
}

#pageCompetence{
    /*background-color: black;*/
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
}
#pageCompetence p{
    text-align: justify;
    margin: 15px;
}

/*CV*/
#pageCV{
    /*background-color: black;*/
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 0%;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
}
#cv{
    height: 70vw;
    width: 50vw;
}
#benevola-list{
    text-align: left;
}

/*ambition*/
body #ambition-image{
    margin-left: -15%;
}
#ambition-image{
    height: 20vw;
    width: 50vw;
}
